body {
    background-color: #e9ecef;
    height: 100vh;
}

nav {
    background-color: white;
}

.jumbotron .wrapper {
    max-width: 540px;
}

@media screen and (max-width: 576px) {
    #startBtn, #initialsSubmit, #goBack, #clearHighscoresID {
        width: 100%;
    }
}

#options input {
    margin-bottom: 1em;
}

#highScoresList {
    list-style: none;
    padding: 0;
}

#highScoresList li {
    background: #007bff4d;
}

input:focus, button:focus  {
    outline: none;
    border: none;
}