@media screen and (max-width: 576px) {
    h1, .intro-header {
        font-size: 2.3em;
    }
}

@media screen and (max-width: 576px) {
    .intro-subhead {
        font-size: 1em;
    }
}

body {
    background-color: #e9ecef;
    height: 100vh;
}

nav {
    background-color: white;
}

.jumbotron .wrapper {
    max-width: 540px;
}

@media screen and (max-width: 576px) {
    #startBtn, #initialsSubmit, #goBack, #clearHighscoresID {
        width: 100%;
    }
}

#options input {
    margin-bottom: 1em;
}

#highScoresList {
    list-style: none;
    padding: 0;
}

#highScoresList li {
    background: #007bff4d;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }